a {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 12px;
  text-transform: uppercase;
  text-decoration: none;
}

body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #565a5c;
    background-color: #f5f5f5;
    text-align: center;
}

.title li {
	display: inline;
	margin: 0px 400px 0px;
}

.img li {
	display: inline;
	margin: 0px 10px 10px 0px;
}

ul {
	list-style-type: none;
	margin: 10px 10px 5px 10px;
	padding: 0;
}

.header {
	height:50px;
    width:960px;
    margin:0px auto;
    font-size: 36px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    

}
